
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RL9</title>

 <link rel="stylesheet" type="text/css" href="css/style.css" />
 
</head>

<body>

  <div id="wrapper">
    <div id="top">    
    <div id="logo">
    <a href="#">
        <h1>rl9.pl</h1>
        <p>Polski fenomen</p>
    </a>
    </div>
    <div id="menu">
        <ul>
        <li><a href="#" class="menu_active">Strona główna</a></li>
        <li><a href="#">O Robercie</a></li>
        <li><a href="#">Wyniki</a></li>
        <li><a href="#">Podcast</a></li>
        </ul>
    </div>
    <div id="search_top">
    <p>Wyszukiwarka <br /><br />
    <input type="text" value="Wpisz szukaną frazę" /></p>
    </div>
    </div>
    <div id="container">
    <div id="sidebar">
        <div id="title_sidebar">O Robercie</div>
        <p>
       (ur. 21 sierpnia 1988 w Warszawie) – polski piłkarz występujący na pozycji napastnika w niemieckim klubie Bayern Monachium oraz w reprezentacji Polski, której jest kapitanem. Członek Klubu Wybitnego Reprezentanta, rekordzista pod względem liczby występów w reprezentacji Polski i najlepszy jej strzelec w historii. Uczestnik Mistrzostw Świata 2018, Mistrzostw Europy 2012 i 2016.</p>
        <div id="title_sidebar">Ciekawostki</div>
            <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            </ul>
    </div>
    <div id="content">
        <h2>Robert Lewandowski najlepszy napastnik polski</h2>
        <p>
        Karierę zaczynał w Varsovii, następnie grał w Delcie Warszawa oraz rezerwach Legii. W 2006 trafił do Znicza Pruszków, w którym zdobył tytuł najlepszego strzelca trzeciej i drugiej ligi. W 2008 przeniósł się do Lecha Poznań, z którym zdobył mistrzostwo, puchar i superpuchar Polski, a także tytuł najlepszego strzelca Ekstraklasy.

W 2010 został zawodnikiem Borussii Dortmund, z którą dwukrotnie zdobył mistrzostwo Niemiec oraz jednokrotnie krajowy puchar i superpuchar. W sezonie 2013/2014 po raz pierwszy w karierze został najlepszym strzelcem Bundesligi, zdobywając 20 bramek. W barwach Borussii zagrał także w finale Ligi Mistrzów w maju 2013. Na koniec rozgrywek zdobył tytuł wicekróla strzelców strzelając 10 bramek.

Przed rozpoczęciem sezonu 2014/2015 przeniósł się do Bayernu Monachium, gdzie w każdym z sześciu pierwszych sezonów zdobywał mistrzostwo Niemiec, a także strzelił 246 goli w Bundeslidze. W sezonie 2015/2016 po raz drugi zdobył tytuł najlepszego strzelca Bundesligi, strzelając 30 goli. Powtórzył to osiągnięcie w sezonach 2017/2018 (29 goli), 2018/2019 (22 gole) i 2019/2020 (34 gole). Z dorobkiem 256 goli jest najskuteczniejszym zagranicznym piłkarzem w historii Bayernu Monachium. W sezonie 2019/2020 zdobył z Bayernem Monachium puchar Ligi Mistrzów UEFA. Tym osiągnięciem wpisał się jako piąty na listę polskich piłkarzy zdobywców Pucharu Europy. Z dorobkiem 15 goli zdobył tytuł króla strzelców rozgrywek, a także został wybrany najlepszym napastnikiem sezonu. W 2020 jako jedyny Polak w historii, został wybrany Piłkarzem Roku UEFA.</p>
        <p>Tagi: <a href="#">Robert</a>, <a href="#">Lewandowski</a>, <a href="#">RL9</a></p>
    </div>
    </div>
    <div id="footer">
        <p>Dziękuję za uwagę Damian Michalik</a></p>
    </div>
    </div>
</body>
</html>
